*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
header{
    background-image: url(./img/jumbo.png);
    background-size: cover;
}

.container{
    max-width: 700px;
    margin: auto;
    width: 80%;
    padding: 5px;
}

.row{
    display: flex;
}   

.container_small{
    display: flex;
    justify-content: center;
    align-items: center;

}
.box{
    width: 600px;
    height: 300px;
    color: white;
    text-align: center;
}

h1{
    font-family: 'Fredoka One', cursive;
    font-size: xx-large;
    padding: 2rem 0;    
}

/* button */
.col_1 button{
    padding: 5px;
    border-radius: 25px;
    background-color: white;
    border: 1px solid white;
}
button{
    padding: 5px;
    border-radius: 25px;
    border: 1px solid;
    margin:0.60rem 0.40rem;  
}
#mac{
    background-color: white;
    border: 1px solid white;
}
#browser{
    background-color: black;
    border: 1px solid black;
    color: white;
}


/* colonne header */
.col_1{
    width: calc((100% / 12)* 2);  
}
.col_2{
    width: calc((100% / 12)* 8);
    
}
.colon_3{
    width: calc((100% / 12)* 2);  
}

.colo_4{
    width: calc((100% / 12)* 7);
    
}
.colo_5{
    width: calc((100% / 12)* 5);
   
}
.colon_6{
    width: calc((100% / 12)* 4);
}



/* debug */
 [class^="col_2"]{
    text-align: center;
    text-decoration: none;
}

/* suddivisione */

img{
    max-width: 100%;
}
 h2{
    padding: 1.5rem 0;
 }
.size{
    font-size: small;
}
#customer{
    background-color: grey;
}
 
.row_main{
    display: flex;
    height: 300px;
}


.painting{
    background-color: brown;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square{
    width: 400px;
    height: 300px;
    background-color:green;
    border-style: dotted; 
}

/* footer */

footer{
    background-color: black;
    height: 400px;
}


[class^="colon_"]{
    background-color:lightskyblue;
    height: 250px;
    border-style: dotted;
}
.row > .colon_6{
    background-color: pink;
}

span{
    color:white;
}